<div
  class="uk-sortable"
  uk-sortable
  group={{@group}}
  handle={{@handle}}
  animation={{@animationDuration}}
  threshold={{@threshold}}
  cls-item={{@clsItem}}
  cls-placeholder={{@clsPlaceholder}}
  cls-drag={{@clsDrag}}
  cls-drag-state={{@clsDragState}}
  cls-base={{@clsBase}}
  cls-no-drag={{@clsNoDrag}}
  cls-empty={{@clsEmpty}}
  cls-custom={{@clsCustom}}
  {{register-uikit-events
    start=this.onStart
    stop=this.onStop
    moved=this.onMoved
    added=this.onAdded
    removed=this.onRemoved
  }}
  ...attributes
>
  {{yield}}
</div>