<h2>Flex</h2>

<div class="uk-alert uk-alert-primary">
  If you are using a component using the flex utility, all parameters must be
  prefixed with
  <code>flex</code>. E.g
  <code>vertical</code>
  becomes
  <code>flexVertical</code>. However, the
  <code>flex</code>
  property stays the same and is
  <u>not</u>
  enabled by default!
</div>

<div class="uk-padding uk-box-shadow-medium uk-margin">
  <UkFlex
    @flex={{this.flex}}
    @inline={{this.inline}}
    @horizontal={{this.horizontal}}
    @vertical={{this.vertical}}
    @direction={{this.direction}}
    @wrap={{this.wrap}}
    @wrapAlignment={{this.wrapAlignment}}
    @class={{if this.fixHeight "uk-height-large"}}
  >
    <UkWidth
      @width={{if this.fill "1-1" ""}}
      class="uk-background-secondary uk-light uk-padding"
    >
      Item 1
    </UkWidth>
    <UkWidth
      @width={{if this.fill "1-1" ""}}
      class="uk-background-secondary uk-light uk-padding"
    >
      Item 2
    </UkWidth>
    <UkWidth
      @width={{if this.fill "1-1" ""}}
      class="uk-background-secondary uk-light uk-padding"
    >
      Item 3
    </UkWidth>
  </UkFlex>

  <div class="uk-margin-medium-top">
    <div>
      <label class="uk-form-label">
        <Input @type="checkbox" class="uk-checkbox" @checked={{this.fill}} />
        Let children use the full width (necessary for testing
        <code>wrap</code>
        and
        <code>wrapAlignment</code>)
      </label>
    </div>
    <div>
      <label class="uk-form-label">
        <Input
          @type="checkbox"
          class="uk-checkbox"
          @checked={{this.fixHeight}}
        />
        Use fixed container height (necessary for testing
        <code>vertical</code>
        and
        <code>wrapAlignment</code>)
      </label>
    </div>
  </div>
</div>

<UkSwitcher @animation="uk-animation-fade" as |switcher|>
  <switcher.nav @type="tab" as |nav|>
    <nav.component as |tab|>
      <tab.item>Props</tab.item>
      <tab.item>Example</tab.item>
    </nav.component>
  </switcher.nav>

  <switcher.content as |content|>
    <content.item>
      <div class="uk-overflow-auto">
        <table class="uk-table uk-table-divider">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Default</th>
              <th>Description</th>
              <th>Demo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>flex</code></td>
              <td><code>Boolean</code></td>
              <td><code>true</code></td>
              <td>Whether to display the element as flex element</td>
              <td>
                <Input
                  @type="checkbox"
                  class="uk-checkbox"
                  @checked={{this.flex}}
                />
              </td>
            </tr>
            <tr>
              <td><code>inline</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>Whether to display the element as inline flex element</td>
              <td>
                <Input
                  @type="checkbox"
                  class="uk-checkbox"
                  @checked={{this.inline}}
                />
              </td>
            </tr>
            <tr>
              <td><code>horizontal</code></td>
              <td><code>String</code></td>
              <td><code>""</code></td>
              <td>How to align the children horizontally</td>
              <td>
                <OptionSelect
                  @options={{this.horizontals}}
                  @selected={{this.horizontal}}
                  @onChange={{fn (mut this.horizontal)}}
                />
              </td>
            </tr>
            <tr>
              <td><code>vertical</code></td>
              <td><code>String</code></td>
              <td><code>""</code></td>
              <td>How to align the children vertically</td>
              <td>
                <OptionSelect
                  @options={{this.verticals}}
                  @selected={{this.vertical}}
                  @onChange={{fn (mut this.vertical)}}
                />
              </td>
            </tr>
            <tr>
              <td><code>direction</code></td>
              <td><code>String</code></td>
              <td><code>""</code></td>
              <td>The direction in which the children should align</td>
              <td>
                <OptionSelect
                  @options={{this.directions}}
                  @selected={{this.direction}}
                  @onChange={{fn (mut this.direction)}}
                />
              </td>
            </tr>
            <tr>
              <td><code>wrap</code></td>
              <td><code>String</code></td>
              <td><code>""</code></td>
              <td>How to handle overflowing children</td>
              <td>
                <OptionSelect
                  @options={{this.wraps}}
                  @selected={{this.wrap}}
                  @onChange={{fn (mut this.wrap)}}
                />
              </td>
            </tr>
            <tr>
              <td><code>wrapAlignment</code></td>
              <td><code>String</code></td>
              <td><code>""</code></td>
              <td>How to align overflowing children</td>
              <td>
                <OptionSelect
                  @options={{this.wrapAlignments}}
                  @selected={{this.wrapAlignment}}
                  @onChange={{fn (mut this.wrapAlignment)}}
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </content.item>
    <content.item>
      <CodeSnippet @name="flex.hbs" />
    </content.item>
  </switcher.content>
</UkSwitcher>