<div class="uk-container uk-padding">
  <div uk-grid class="uk-grid-divider">
    <div class="uk-width-1-1 uk-width-1-4@m">
      <ul class="uk-nav uk-nav-primary">
        <li><LinkTo @route="index">Introduction</LinkTo></li>
        <li class="uk-nav-divider"></li>
        <li class="uk-parent">
          <a href="" class="uk-disabled">Components</a>
          <ul class="uk-nav-sub">
            <li><LinkTo @route="docs.components.badge">Badge</LinkTo></li>
            <li><LinkTo @route="docs.components.button">Button</LinkTo></li>
            <li><LinkTo @route="docs.components.card">Card</LinkTo></li>
            <li><LinkTo @route="docs.components.icon">Icon</LinkTo></li>
            <li><LinkTo @route="docs.components.label">Label</LinkTo></li>
            <li><LinkTo @route="docs.components.list">List</LinkTo></li>
            <li><LinkTo @route="docs.components.modal">Modal</LinkTo></li>
            <li><LinkTo @route="docs.components.sortable">Sortable</LinkTo></li>
            <li><LinkTo @route="docs.components.spinner">Spinner</LinkTo></li>
            <li><LinkTo @route="docs.components.subnav">Subnav</LinkTo></li>
            <li><LinkTo @route="docs.components.switcher">Switcher</LinkTo></li>
            <li><LinkTo @route="docs.components.tab">Tab</LinkTo></li>
            <li><LinkTo @route="docs.components.toggle-switch">Toggle Switch</LinkTo></li>
          </ul>
        </li>
        <li class="uk-nav-divider"></li>
        <li class="uk-parent">
          <a href="" class="uk-disabled">Utilities</a>
          <ul class="uk-nav-sub">
            <li><LinkTo @route="docs.utilities.flex">Flex</LinkTo></li>
            <li><LinkTo @route="docs.utilities.width">Width</LinkTo></li>
          </ul>
        </li>
        <li class="uk-nav-divider"></li>
        <li class="uk-parent">
          <a href="" class="uk-disabled">Services</a>
          <ul class="uk-nav-sub">
            <li><LinkTo @route="docs.services.notification">Notification</LinkTo></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="uk-width-1-1 uk-width-3-4@m">
      {{outlet}}
    </div>
  </div>
  <div class="uk-text-center uk-margin-xlarge-top">
    <p>
      ember-uikit v{{app-version hideSha=true}}
    </p>
    <div uk-grid class="uk-flex uk-flex-center">
      <div class="uk-width-1-3 uk-width-1-6@m">
        <a href="https://github.com/adfinis-sygroup/ember-uikit" class="uk-link-text">
          {{uk-icon "github"}}<br>Github
        </a>
      </div>
      <div class="uk-width-1-3 uk-width-1-6@m">
        <a
          href="https://github.com/adfinis-sygroup/ember-uikit/issues"
          class="uk-link-text"
        >
          {{uk-icon "commenting"}}<br>Issues
        </a>
      </div>
      <div class="uk-width-1-3 uk-width-1-6@m">
        <a
          href="https://github.com/adfinis-sygroup/ember-uikit/blob/main/CHANGELOG.md"
          class="uk-link-text"
        >
          {{uk-icon "history"}}<br>Changelog
        </a>
      </div>
    </div>
    <p>
      Made with ♥ by <a href="https://github.com/adfinis-sygroup">Adfinis</a>
      <br>
      Licensed under the <a href="https://opensource.org/licenses/mit-license.php">MIT license</a>.
    </p>
  </div>
</div>
