<h2>Button</h2>

<p
  class="uk-text-muted"
  title="Properties of the used utilities can be applied to this component too."
>
  Uses: <LinkTo @route="docs.utilities.width"><UkLabel @color="success" @label="Width"/></LinkTo>
</p>

<div class="uk-padding uk-box-shadow-medium uk-margin">
  {{uk-button
    label=label
    type=type
    disabled=disabled
    active=active
    loading=loading
    color=color
    size=size
    title=title
    on-click=(perform fireEvent "button-on-click")
  }}
</div>


<UkSwitcher @animation="uk-animation-fade" as |switcher|>
  <switcher.nav @type="tab" as |nav|>
    <nav.component as |tab|>
      <tab.item>Props</tab.item>
      <tab.item>Events</tab.item>
      <tab.item>Example</tab.item>
    </nav.component>
  </switcher.nav>

  <switcher.content as |content|>
    <content.item>
      <div class="uk-overflow-auto">
        <table class="uk-table uk-table-divider">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Default</th>
              <th>Description</th>
              <th>Demo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>label</code></td>
              <td><code>String</code></td>
              <td><code>""</code></td>
              <td>The content of the button</td>
              <td>
                {{input class="uk-input" value=label}}
              </td>
            </tr>
            <tr>
              <td><code>type</code></td>
              <td><code>String</code></td>
              <td><code>"button"</code></td>
              <td>The type of the button</td>
              <td>
                <select class="uk-select" onchange={{action (mut type) value="target.value"}}>
                  <option value="button">button</option>
                  <option value="submit">submit</option>
                  <option value="reset">reset</option>
                </select>
              </td>
            </tr>
            <tr>
              <td><code>disabled</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>Whether the button is disabled</td>
              <td>
                {{input type="checkbox" class="uk-checkbox" checked=disabled}}
              </td>
            </tr>
            <tr>
              <td><code>active</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>Whether the button is active</td>
              <td>
                {{input type="checkbox" class="uk-checkbox" checked=active}}
              </td>
            </tr>
            <tr>
              <td><code>loading</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>Whether the button is loading</td>
              <td>
                {{input type="checkbox" class="uk-checkbox" checked=loading}}
              </td>
            </tr>
            {{color-row name="button" default="default" colors=colors value=color}}
            {{size-row name="button" sizes=(array "" "small" "large") value=size}}
            <tr>
              <td><code>title</code></td>
              <td><code>String</code></td>
              <td><code>""</code></td>
              <td>The title of the button, displaying a tooltip on hover</td>
              <td>
                {{input class="uk-input" value=title}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </content.item>
    <content.item>
      <div class="uk-overflow-auto">
        <table class="uk-table uk-table-divider">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Fired</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>on-click</code></td>
              <td>Fired if the component was clicked</td>
              <td>{{#if (contains "button-on-click" firedEvents)}}Yes{{else}}No{{/if}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </content.item>
    <content.item>
      {{code-snippet name="button.hbs"}}
    </content.item>
  </switcher.content>
</UkSwitcher>
