<h2>Button</h2>

<p
  class="uk-text-muted"
  title="Properties of the used utilities can be applied to this component too."
>
  Uses:
  <LinkTo @route="docs.utilities.width"><UkLabel
      @color="success"
      @label="Width"
    /></LinkTo>
</p>

<div class="uk-padding uk-box-shadow-medium uk-margin">
  <UkButton
    @label={{this.label}}
    @type={{this.type}}
    @disabled={{this.disabled}}
    @active={{this.active}}
    @loading={{this.loading}}
    @color={{this.color}}
    @size={{this.size}}
    @title={{this.title}}
    @onClick={{fn (perform this.fireEvent) "click"}}
  />
</div>

<UkSwitcher @animation="uk-animation-fade" as |switcher|>
  <switcher.nav @type="tab" as |nav|>
    <nav.component as |tab|>
      <tab.item>Props</tab.item>
      <tab.item>Events</tab.item>
      <tab.item>Example</tab.item>
    </nav.component>
  </switcher.nav>

  <switcher.content as |content|>
    <content.item>
      <div class="uk-overflow-auto">
        <table class="uk-table uk-table-divider">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Default</th>
              <th>Description</th>
              <th>Demo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>label</code></td>
              <td><code>String</code></td>
              <td><code>""</code></td>
              <td>The content of the button</td>
              <td>
                <Input class="uk-input" @value={{this.label}} />
              </td>
            </tr>
            <tr>
              <td><code>type</code></td>
              <td><code>String</code></td>
              <td><code>"button"</code></td>
              <td>The type of the button</td>
              <td>
                <OptionSelect
                  @options={{array "button" "submit" "reset"}}
                  @selected={{this.type}}
                  @onChange={{fn (mut this.type)}}
                />
              </td>
            </tr>
            <tr>
              <td><code>disabled</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>Whether the button is disabled</td>
              <td>
                <Input
                  @type="checkbox"
                  class="uk-checkbox"
                  @checked={{this.disabled}}
                />
              </td>
            </tr>
            <tr>
              <td><code>active</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>Whether the button is active</td>
              <td>
                <Input
                  @type="checkbox"
                  class="uk-checkbox"
                  @checked={{this.active}}
                />
              </td>
            </tr>
            <tr>
              <td><code>loading</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>Whether the button is loading</td>
              <td>
                <Input
                  @type="checkbox"
                  class="uk-checkbox"
                  @checked={{this.loading}}
                />
              </td>
            </tr>
            <tr>
              <td><code>color</code></td>
              <td><code>String</code></td>
              <td><code>"default"</code></td>
              <td>The color of the button</td>
              <td>
                <OptionSelect
                  @options={{this.colors}}
                  @selected={{this.color}}
                  @onChange={{fn (mut this.color)}}
                />
              </td>
            </tr>
            <tr>
              <td><code>size</code></td>
              <td><code>String</code></td>
              <td><code>""</code></td>
              <td>The size of the button</td>
              <td>
                <OptionSelect
                  @options={{array "" "small" "large"}}
                  @selected={{this.size}}
                  @onChange={{fn (mut this.size)}}
                />
              </td>
            </tr>
            <tr>
              <td><code>title</code></td>
              <td><code>String</code></td>
              <td><code>""</code></td>
              <td>The title of the button, displaying a tooltip on hover</td>
              <td>
                <Input class="uk-input" @value={{this.title}} />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </content.item>
    <content.item>
      <div class="uk-overflow-auto">
        <table class="uk-table uk-table-divider">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Fired</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>onClick</code></td>
              <td>Fired if the component was clicked</td>
              <td>
                {{#if (includes "click" this.firedEvents)}}
                  Yes
                {{else}}
                  No
                {{/if}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </content.item>
    <content.item>
      <CodeSnippet @name="button.hbs" />
    </content.item>
  </switcher.content>
</UkSwitcher>