<h2>Card</h2>

<p
  class="uk-text-muted"
  title="Properties of the used utilities can be applied to this component too."
>
  Uses: {{#link-to "docs.utilities.width"}}{{uk-label color="success" label="Width"}}{{/link-to}}
</p>

<div class="uk-padding uk-box-shadow-medium uk-margin">
  {{#uk-card
    hover=hover
    color=color
    size=size
  as |card|}}
    {{#card.header}}
      {{#card.title}}Title{{/card.title}}
    {{/card.header}}
    {{#card.body}}
      Content
    {{/card.body}}
    {{#card.footer}}
      {{uk-button color="text" label="Read more"}}
    {{/card.footer}}
  {{/uk-card}}
</div>

{{#uk-switcher animation="uk-animation-fade" as |switcher|}}
  {{#switcher.nav type="tab" as |nav|}}
    {{#nav.component as |tab|}}
      {{#tab.item}}Props{{/tab.item}}
      {{#tab.item}}Yields{{/tab.item}}
      {{#tab.item}}Example{{/tab.item}}
    {{/nav.component}}
  {{/switcher.nav}}

  {{#switcher.content as |content|}}
    {{#content.item}}
      <div class="uk-overflow-auto">
        <table class="uk-table uk-table-divider">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Default</th>
              <th>Description</th>
              <th>Demo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>hover</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>Whether to show a stronger shadow on hover</td>
              <td>
                {{input type="checkbox" class="uk-checkbox" checked=hover}}
              </td>
            </tr>
            {{color-row name="card" default="default" colors=colors value=color}}
            {{size-row name="card" value=size}}
          </tbody>
        </table>
      </div>
    {{/content.item}}
    {{#content.item}}
      <p>
        <code>header</code>
      </p>
      <p>
        The subnav yields a <code>header</code> component which can be used to
        create the header section of the card. The <code>header</code>
        component takes no properties.
      </p>

      <p>
        <code>body</code>
      </p>
      <p>
        The subnav yields a <code>body</code> component which can be used to
        create the body section containing the main content of the card. The
        <code>body</code> component takes no properties.
      </p>

      <p>
        <code>footer</code>
      </p>
      <p>
        The subnav yields a <code>footer</code> component which can be used to
        create the footer section of the card. The <code>footer</code>
        component takes no properties.
      </p>

      <p>
        <code>title</code>
      </p>
      <p>
        The subnav yields a <code>title</code> component which can be used to
        create a title for the card. This is mostly used inside of a
        <code>header</code>. The <code>title</code> component takes not
        properties.
      </p>
    {{/content.item}}
    {{#content.item}}
      {{code-snippet name="card.hbs"}}
    {{/content.item}}
  {{/switcher.content}}
{{/uk-switcher}}
