<h2>Label</h2>

<p
  class="uk-text-muted"
  title="Properties of the used utilities can be applied to this component too."
>
  Uses:
  <LinkTo @route="docs.utilities.width"><UkLabel
      @color="success"
      @label="Width"
    /></LinkTo>
</p>

<div class="uk-padding uk-box-shadow-medium uk-margin">
  <UkLabel @label={{this.label}} @color={{this.color}} />
</div>

<UkSwitcher @animation="uk-animation-fade" as |switcher|>
  <switcher.nav @type="tab" as |nav|>
    <nav.component as |tab|>
      <tab.item>Props</tab.item>
      <tab.item>Example</tab.item>
    </nav.component>
  </switcher.nav>

  <switcher.content as |content|>
    <content.item>
      <div class="uk-overflow-auto">
        <table class="uk-table uk-table-divider">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Default</th>
              <th>Description</th>
              <th>Demo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>label</code></td>
              <td><code>String</code></td>
              <td><code>""</code></td>
              <td>The content of the label</td>
              <td>
                <Input class="uk-input" @value={{this.label}} />
              </td>
            </tr>
            <tr>
              <td><code>color</code></td>
              <td><code>String</code></td>
              <td><code>"default"</code></td>
              <td>The color of the label</td>
              <td>
                <OptionSelect
                  @options={{this.colors}}
                  @selected={{this.color}}
                  @onChange={{fn (mut this.color)}}
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </content.item>
    <content.item>
      <CodeSnippet @name="label.hbs" />
    </content.item>
  </switcher.content>
</UkSwitcher>