<h2>List</h2>

<p
  class="uk-text-muted"
  title="Properties of the used utilities can be applied to this component too."
>
  Uses:
  <LinkTo @route="docs.utilities.width"><UkLabel
      @color="success"
      @label="Width"
    /></LinkTo>
</p>

<div class="uk-padding uk-box-shadow-medium uk-margin">
  <UkList
    @divider={{this.divider}}
    @striped={{this.striped}}
    @bullet={{this.bullet}}
    @large={{this.large}}
    as |list|
  >
    <list.item>List item 1</list.item>
    <list.item>List item 2</list.item>
    <list.item>List item 3</list.item>
  </UkList>
</div>

<UkSwitcher @animation="uk-animation-fade" as |switcher|>
  <switcher.nav @type="tab" as |nav|>
    <nav.component as |tab|>
      <tab.item>Props</tab.item>
      <tab.item>Yields</tab.item>
      <tab.item>Example</tab.item>
    </nav.component>
  </switcher.nav>

  <switcher.content as |content|>
    <content.item>
      <div class="uk-overflow-auto">
        <table class="uk-table uk-table-divider">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Default</th>
              <th>Description</th>
              <th>Demo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>divider</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>Whether to show a divider between the items</td>
              <td>
                <Input
                  @type="checkbox"
                  class="uk-checkbox"
                  @checked={{this.divider}}
                />
              </td>
            </tr>
            <tr>
              <td><code>striped</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>Whether stripe the list</td>
              <td>
                <Input
                  @type="checkbox"
                  class="uk-checkbox"
                  @checked={{this.striped}}
                />
              </td>
            </tr>
            <tr>
              <td><code>bullet</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>Whether to show a bullet point before the items</td>
              <td>
                <Input
                  @type="checkbox"
                  class="uk-checkbox"
                  @checked={{this.bullet}}
                />
              </td>
            </tr>
            <tr>
              <td><code>large</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>Whether to make the list larger</td>
              <td>
                <Input
                  @type="checkbox"
                  class="uk-checkbox"
                  @checked={{this.large}}
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </content.item>
    <content.item>
      <p>
        <code>item</code>
      </p>
      <p>
        The list yields an
        <code>item</code>
        component which can be used to create a list item inside the list. The
        <code>item</code>
        component takes no properties.
      </p>
    </content.item>
    <content.item>
      <CodeSnippet @name="list.hbs" />
    </content.item>
  </switcher.content>
</UkSwitcher>