<h2>Modal</h2>

<div class="uk-padding uk-box-shadow-medium uk-margin">
  <UkModal
    @visible={{this.visible}}
    @btnClose={{this.btnClose}}
    @modalClass={{this.modalClass}}
    @dialogClass={{this.dialogClass}}
    @onShow={{fn (mut this.visible) true}}
    @onHide={{fn (mut this.visible) false}}
    as |modal|
  >

    <modal.header>
      <h2 class="uk-modal-title">Test</h2>
    </modal.header>
    <modal.body class="uk-modal-overflow-auto">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </modal.body>
    <modal.footer @class="uk-text-right">
      <UkButton
        @color="primary"
        @label="Submit"
        @onClick={{fn (mut this.visible) false}}
      />
    </modal.footer>
  </UkModal>

  <UkButton @label="Open modal" @onClick={{fn (mut this.visible) true}} />
</div>

<UkSwitcher @animation="uk-animation-fade" as |switcher|>
  <switcher.nav @type="tab" as |nav|>
    <nav.component as |tab|>
      <tab.item>Props</tab.item>
      <tab.item>Example</tab.item>
    </nav.component>
  </switcher.nav>

  <switcher.content as |content|>
    <content.item>
      <div class="uk-overflow-auto">
        <table class="uk-table uk-table-divider">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Default</th>
              <th>Description</th>
              <th>Demo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>visible</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>Whether the modal is currently visible or not</td>
              <td>
                <Input
                  @type="checkbox"
                  class="uk-checkbox"
                  @checked={{this.visible}}
                />
              </td>
            </tr>
            <tr>
              <td><code>btnClose</code></td>
              <td><code>Boolean</code></td>
              <td><code>true</code></td>
              <td>Whether a button to close the modal should show up in the top
                right corner or not</td>
              <td>
                <Input
                  @type="checkbox"
                  class="uk-checkbox"
                  @checked={{this.btnClose}}
                />
              </td>
            </tr>
            <tr>
              <td><code>modalClass</code></td>
              <td><code>String</code></td>
              <td><code>""</code></td>
              <td>Add CSS classes to the modal.</td>
              <td><Input class="uk-input" @value={{this.modalClass}} /></td>
            </tr>
            <tr>
              <td><code>dialogClass</code></td>
              <td><code>String</code></td>
              <td><code>""</code></td>
              <td>Add CSS classes to the dialog.</td>
              <td><Input class="uk-input" @value={{this.dialogClass}} /></td>
            </tr>
            <tr>
              <td><code>escClose</code></td>
              <td><code>Boolean</code></td>
              <td><code>true</code></td>
              <td>Close the modal when the <em>Esc</em> key is pressed.</td>
              <td></td>
            </tr>
            <tr>
              <td><code>bgClose</code></td>
              <td><code>Boolean</code></td>
              <td><code>true</code></td>
              <td>Close the modal when the background is clicked.</td>
              <td></td>
            </tr>
            <tr>
              <td><code>stack</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>Stack modals, when more than one is open. By default, the
                previous modal will be hidden.</td>
              <td></td>
            </tr>
            <tr>
              <td><code>container</code></td>
              <td><code>String</code></td>
              <td><code>true</code></td>
              <td>Define a target container via a selector to specify where the
                modal should be appended in the DOM. Setting it to
                <code>false</code>
                will prevent this behavior.</td>
              <td></td>
            </tr>
            <tr>
              <td><code>clsPage</code></td>
              <td><code>String</code></td>
              <td><code>"uk-modal-page"</code></td>
              <td>Class to add to
                <code>&lt;body&gt;</code>
                when modal is active.</td>
              <td></td>
            </tr>
            <tr>
              <td><code>clsPanel</code></td>
              <td><code>String</code></td>
              <td><code>"uk-modal-dialog"</code></td>
              <td>Class of the element to be considered the panel of the modal.</td>
              <td></td>
            </tr>
            <tr>
              <td><code>selClose</code></td>
              <td><code>String</code></td>
              <td>
                <code>".uk-modal-close,</code>
                <code>.uk-modal-close-default,</code>
                <code>.uk-modal-close-outside,</code>
                <code>.uk-modal-close-full"</code>
              </td>
              <td>CSS selector for all elements that should trigger the closing
                of the modal.</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

      <p>
        <span class="uk-label">Note</span>
        Most of the settings are only read during initialization and can thus
        not be changed in the demo.
      </p>
    </content.item>
    <content.item>
      <CodeSnippet @name="modal.hbs" />
    </content.item>
  </switcher.content>
</UkSwitcher>