<h2>Subnav</h2>

<p
  class="uk-text-muted"
  title="Properties of the used utilities can be applied to this component too."
>
  Uses:
  <LinkTo @route="docs.utilities.flex"><UkLabel
      @color="success"
      @label="Flex"
    /></LinkTo>
</p>

<div class="uk-padding uk-box-shadow-medium uk-margin">
  <UkSubnav @divider={{this.divider}} @pill={{this.pill}} as |nav|>
    <nav.item
      @onClick={{fn (perform this.fireEvent) "click"}}
      @active={{this.itemActive}}
      @disabled={{this.itemDisabled}}
    >
      Item
    </nav.item>
    <nav.item
      @href={{this.href}}
      @disabled={{this.linkItemDisabled}}
      @linkToIndex={{this.linkToIndex}}
    >
      Link Item
    </nav.item>
  </UkSubnav>
</div>

<UkSwitcher @animation="uk-animation-fade" as |switcher|>
  <switcher.nav @type="tab" as |nav|>
    <nav.component as |tab|>
      <tab.item>Props</tab.item>
      <tab.item>Yields</tab.item>
      <tab.item>Example</tab.item>
    </nav.component>
  </switcher.nav>

  <switcher.content as |content|>
    <content.item>
      <div class="uk-overflow-auto">
        <table class="uk-table uk-table-divider">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Default</th>
              <th>Description</th>
              <th>Demo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>divider</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>Whether to show a divider between the nav items</td>
              <td>
                <Input
                  @type="checkbox"
                  class="uk-checkbox"
                  @checked={{this.divider}}
                />
              </td>
            </tr>
            <tr>
              <td><code>pill</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>Whether to style the nav items as pills</td>
              <td>
                <Input
                  @type="checkbox"
                  class="uk-checkbox"
                  @checked={{this.pill}}
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </content.item>
    <content.item>
      <small class="uk-text-muted">
        The demo on the yielded components always counts for the first
        appearance of said component.
      </small>

      <p>
        <code>item</code>
      </p>
      <p>
        The subnav yields an
        <code>item</code>
        component which can be used to create a navigation item inside the
        subnav. The
        <code>item</code>
        component takes the following properties:
      </p>

      <div class="uk-overflow-auto">
        <table class="uk-table uk-table-divider">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Default</th>
              <th>Description</th>
              <th>Demo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>active</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>Whether the item is active</td>
              <td>
                <Input
                  @type="checkbox"
                  class="uk-checkbox"
                  @checked={{this.itemActive}}
                />
              </td>
            </tr>
            <tr>
              <td><code>disabled</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>Whether the item is disabled</td>
              <td>
                <Input
                  @type="checkbox"
                  class="uk-checkbox"
                  @checked={{this.itemDisabled}}
                />
              </td>
            </tr>
            <tr>
              <td><code>href</code></td>
              <td><code>String</code></td>
              <td></td>
              <td>
                URL of a route to transition to on click. If `onClick` is passed
                it will be passed as second argument to that action.
              </td>
              <td>
                <OptionSelect
                  @options={{this.availableRoutes}}
                  @selected={{this.href}}
                  @onChange={{fn (mut this.href)}}
                />
              </td>
            </tr>
            <tr>
              <td><code>currentWhen</code></td>
              <td><code>String</code></td>
              <td></td>
              <td>
                URL of a route which causes the item to be marked as active if
                that route is active (similar to the functionality
                <code>LinkTo</code>
                provides).
              </td>
              <td>
                <OptionSelect
                  @hasEmpty={{true}}
                  @options={{this.availableRoutes}}
                  @selected={{this.currentWhen}}
                  @onChange={{fn (mut this.currentWhen)}}
                />
              </td>
            </tr>
            <tr>
              <td><code>linkToIndex</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>
                Whether to link to the index route of the passed
                <code>href</code>
                or not. If
                <code>true</code>
                the item will only be active if the index route is active.
                Otherwise it will be active for subroutes as well.
              </td>
              <td>
                <Input
                  @type="checkbox"
                  class="uk-checkbox"
                  @checked={{this.linkToIndex}}
                />
              </td>
            </tr>
            <tr>
              <td><code>onClick</code></td>
              <td></td>
              <td></td>
              <td>Fired if the component was clicked</td>
              <td>
                {{#if (includes "click" this.firedEvents)}}
                  Yes
                {{else}}
                  No
                {{/if}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </content.item>
    <content.item>
      <CodeSnippet @name="subnav.hbs" />
    </content.item>
  </switcher.content>
</UkSwitcher>