<h2>Tab</h2>

<p
  class="uk-text-muted"
  title="Properties of the used utilities can be applied to this component too."
>
  Uses: {{#link-to "docs.utilities.flex"}}{{uk-label color="success" label="Flex"}}{{/link-to}}
</p>

<div class="uk-padding uk-box-shadow-medium uk-margin">
  {{#uk-tab
    left=left
    right=right
    bottom=bottom
  as |tab|}}
    {{#tab.item active=itemActive disabled=itemDisabled}}Item 1{{/tab.item}}
    {{#tab.item}}Item 2{{/tab.item}}
    {{#tab.link-item "docs.components.tab" disabled=linkItemDisabled}}Link Item 1 (active){{/tab.link-item}}
  {{/uk-tab}}
</div>

{{#uk-switcher animation="uk-animation-fade" as |switcher|}}
  {{#switcher.nav type="tab" as |nav|}}
    {{#nav.component as |tab|}}
      {{#tab.item}}Props{{/tab.item}}
      {{#tab.item}}Yields{{/tab.item}}
      {{#tab.item}}Example{{/tab.item}}
    {{/nav.component}}
  {{/switcher.nav}}

  {{#switcher.content as |content|}}
    {{#content.item}}
      <div class="uk-overflow-auto">
        <table class="uk-table uk-table-divider">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Default</th>
              <th>Description</th>
              <th>Demo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>left</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>Whether to enable left alignment</td>
              <td>
                {{input type="checkbox" class="uk-checkbox" checked=left}}
              </td>
            </tr>
            <tr>
              <td><code>right</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>Whether to enable right alignment</td>
              <td>
                {{input type="checkbox" class="uk-checkbox" checked=right}}
              </td>
            </tr>
            <tr>
              <td><code>bottom</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>Whether to enable bottom alignment</td>
              <td>
                {{input type="checkbox" class="uk-checkbox" checked=bottom}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    {{/content.item}}
    {{#content.item}}
      <small class="uk-text-muted">
        The demo on the yielded components always counts for the first
        appearance of said component.
      </small>

      <p>
        <code>item</code>
      </p>
      <p>
        The tab yields an <code>item</code> component which can be used to
        create a navigation item inside the tab. The <code>item</code>
        component takes the following properties:
      </p>

      <div class="uk-overflow-auto">
        <table class="uk-table uk-table-divider">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Default</th>
              <th>Description</th>
              <th>Demo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>active</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>Whether the item is active</td>
              <td>
                {{input type="checkbox" class="uk-checkbox" checked=itemActive}}
              </td>
            </tr>
            <tr>
              <td><code>disabled</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>Whether the item is disabled</td>
              <td>
                {{input type="checkbox" class="uk-checkbox" checked=itemDisabled}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <p>
        <code>link-item</code>
      </p>
      <p>
        The tab yields an <code>link-item</code> component which behaves
        almost the same way as <code>item</code> but is an ember
        <code>link-to</code> component. The <code>link-item</code> component
        takes the following properties:
      </p>

      <div class="uk-overflow-auto">
        <table class="uk-table uk-table-divider">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Default</th>
              <th>Description</th>
              <th>Demo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>disabled</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>Whether the link item is disabled</td>
              <td>
                {{input type="checkbox" class="uk-checkbox" checked=linkItemDisabled}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    {{/content.item}}
    {{#content.item}}
      {{code-snippet name="tab.hbs"}}
    {{/content.item}}
  {{/switcher.content}}
{{/uk-switcher}}
