<h2>Tab</h2>

<p
  class="uk-text-muted"
  title="Properties of the used utilities can be applied to this component too."
>
  Uses:
  <LinkTo @route="docs.utilities.flex"><UkLabel
      @color="success"
      @label="Flex"
    /></LinkTo>
</p>

<div class="uk-padding uk-box-shadow-medium uk-margin">
  <UkTab
    @left={{this.left}}
    @right={{this.right}}
    @bottom={{this.bottom}}
    as |tab|
  >
    <tab.item
      @onClick={{fn (perform this.fireEvent) "click"}}
      @active={{this.itemActive}}
      @disabled={{this.itemDisabled}}
    >
      Item
    </tab.item>
    <tab.item @href={{this.href}} @disabled={{this.linkItemDisabled}}>
      Link Item
    </tab.item>
  </UkTab>
</div>

<UkSwitcher @animation="uk-animation-fade" as |switcher|>
  <switcher.nav @type="tab" as |nav|>
    <nav.component as |tab|>
      <tab.item>Props</tab.item>
      <tab.item>Yields</tab.item>
      <tab.item>Example</tab.item>
    </nav.component>
  </switcher.nav>

  <switcher.content as |content|>
    <content.item>
      <div class="uk-overflow-auto">
        <table class="uk-table uk-table-divider">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Default</th>
              <th>Description</th>
              <th>Demo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>left</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>Whether to enable left alignment</td>
              <td>
                <Input
                  @type="checkbox"
                  class="uk-checkbox"
                  @checked={{this.left}}
                />
              </td>
            </tr>
            <tr>
              <td><code>right</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>Whether to enable right alignment</td>
              <td>
                <Input
                  @type="checkbox"
                  class="uk-checkbox"
                  @checked={{this.right}}
                />
              </td>
            </tr>
            <tr>
              <td><code>bottom</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>Whether to enable bottom alignment</td>
              <td>
                <Input
                  @type="checkbox"
                  class="uk-checkbox"
                  @checked={{this.bottom}}
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </content.item>
    <content.item>
      <small class="uk-text-muted">
        The demo on the yielded components always counts for the first
        appearance of said component.
      </small>

      <p>
        <code>item</code>
      </p>
      <p>
        The tab yields an
        <code>item</code>
        component which can be used to create a navigation item inside the tab.
        The
        <code>item</code>
        component takes the following properties:
      </p>

      <div class="uk-overflow-auto">
        <table class="uk-table uk-table-divider">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Default</th>
              <th>Description</th>
              <th>Demo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>active</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>Whether the item is active</td>
              <td>
                <Input
                  @type="checkbox"
                  class="uk-checkbox"
                  @checked={{this.itemActive}}
                />
              </td>
            </tr>
            <tr>
              <td><code>disabled</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>Whether the item is disabled</td>
              <td>
                <Input
                  @type="checkbox"
                  class="uk-checkbox"
                  @checked={{this.itemDisabled}}
                />
              </td>
            </tr>
            <tr>
              <td><code>href</code></td>
              <td><code>String</code></td>
              <td></td>
              <td>
                URL of a route to transition to on click. If `onClick` is passed
                it will be passed as second argument to that action.
              </td>
              <td>
                <OptionSelect
                  @options={{this.availableRoutes}}
                  @selected={{this.href}}
                  @onChange={{fn (mut this.href)}}
                />
              </td>
            </tr>
            <tr>
              <td><code>onClick</code></td>
              <td></td>
              <td></td>
              <td>Fired if the component was clicked</td>
              <td>
                {{#if (includes "click" this.firedEvents)}}
                  Yes
                {{else}}
                  No
                {{/if}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </content.item>
    <content.item>
      <CodeSnippet @name="tab.hbs" />
    </content.item>
  </switcher.content>
</UkSwitcher>