<h2>Toggle Switch</h2>

<p class="uk-text-muted">
  This component is not a built in component of UIkit and has absolutely nothing
  to do with the
  <a href="https://getuikit.com/docs/toggle">toggle</a>
  or
  <a href="https://getuikit.com/docs/switcher">switcher</a>
  components. Instead, it is a partial implementation of
  <a href="https://github.com/uikit/uikit/issues/2531">a feature request</a>
  built with
  <a href="https://github.com/knownasilya/ember-toggle">ember-toggle</a>.
</p>

<div class="uk-padding uk-box-shadow-medium uk-margin">
  <UkToggleSwitch
    @name={{this.name}}
    @value={{this.value}}
    @size={{this.size}}
    @color={{this.color}}
    @onLabel={{this.onLabel}}
    @offLabel={{this.offLabel}}
    @showLabels={{this.showLabels}}
    @disabled={{this.disabled}}
    @onToggle={{fn (mut this.value)}}
  />
</div>

<UkSwitcher @animation="uk-animation-fade" as |switcher|>
  <switcher.nav @type="tab" as |nav|>
    <nav.component as |tab|>
      <tab.item>Props</tab.item>
      <tab.item>Example</tab.item>
    </nav.component>
  </switcher.nav>

  <switcher.content as |content|>
    <content.item>
      <div class="uk-overflow-auto">
        <table class="uk-table uk-table-divider">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Default</th>
              <th>Description</th>
              <th>Demo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>value</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>The value</td>
              <td>
                <Input
                  @type="checkbox"
                  class="uk-checkbox"
                  @checked={{this.value}}
                />
              </td>
            </tr>
            <tr>
              <td><code>name</code></td>
              <td><code>String</code></td>
              <td><code>null</code></td>
              <td>The name of the input</td>
              <td><Input class="uk-input" @value={{this.name}} /></td>
            </tr>
            <tr>
              <td><code>size</code></td>
              <td><code>String</code></td>
              <td><code>"medium"</code></td>
              <td>The display size</td>
              <td>
                <OptionSelect
                  @options={{this.sizes}}
                  @selected={{this.size}}
                  @onChange={{fn (mut this.size)}}
                />
              </td>
            </tr>
            <tr>
              <td><code>color</code></td>
              <td><code>String</code></td>
              <td><code>"default"</code></td>
              <td>The display color schema</td>
              <td>
                <OptionSelect
                  @options={{this.colors}}
                  @selected={{this.color}}
                  @onChange={{fn (mut this.color)}}
                />
              </td>
            </tr>
            <tr>
              <td><code>onLabel</code></td>
              <td><code>String</code></td>
              <td><code>null</code></td>
              <td>The label for the on state</td>
              <td><Input class="uk-input" @value={{this.onLabel}} /></td>
            </tr>
            <tr>
              <td><code>offLabel</code></td>
              <td><code>String</code></td>
              <td><code>null</code></td>
              <td>The label for the off state</td>
              <td><Input class="uk-input" @value={{this.offLabel}} /></td>
            </tr>
            <tr>
              <td><code>showLabels</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>Whether to show the labels</td>
              <td>
                <Input
                  @type="checkbox"
                  class="uk-checkbox"
                  @checked={{this.showLabels}}
                />
              </td>
            </tr>
            <tr>
              <td><code>disabled</code></td>
              <td><code>Boolean</code></td>
              <td><code>false</code></td>
              <td>Whether to disable the toggle switch</td>
              <td>
                <Input
                  @type="checkbox"
                  class="uk-checkbox"
                  @checked={{this.disabled}}
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </content.item>
    <content.item>
      <CodeSnippet @name="toggle-switch.hbs" />
    </content.item>
  </switcher.content>
</UkSwitcher>